@model Tugce.Domain.POCO.SiteStatic

<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="widget">
                    <h5 class="widgetheading">Browse pages</h5>
                    <ul class="link-list">
                        <li><a href="#">About our company</a></li>
                        <li><a href="#">Our services</a></li>
                        <li><a href="#">Meet our team</a></li>
                        <li><a href="#">Explore our portfolio</a></li>
                        <li><a href="#">Get in touch with us</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="span3 offset6">
                <div class="widget">
                    <h5 class="widgetheading">Bize Ulaşın</h5>
                    <address>
                        <strong>@Model.Address</strong>
                    </address>
                    <p>
                        <i class="icon-phone"></i> @Model.Phone1 - @Model.Mobile1 <br>
                        <i class="icon-envelope-alt"></i> @Model.Email
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="copyright">
                        <p>
                            <span>&copy; @Model.Footer</span>
                        </p>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flattern
                            -->
                            Designed by <a href="http://www.vektorelbilisim.com/">2 Kasım</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <ul class="social-network">
                        <li><a href="@Model.Facebook" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                        <li><a href="@Model.Twitter" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                        <li><a href="@Model.LinkedIn" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                        <li><a href="@Model.Pinterest" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
