
@{ 
    Layout = null;
    ViewBag.Title = "Oturum Açın";
}

@model LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <title>Oturum Açın</title>

    <!--Core CSS -->
    <link href="~/Areas/Admin/Content/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/style-responsive.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

    <div class="container">
        @Html.Partial("_MessagePartial")
        <form class="form-signin" action="@Request.Url.PathAndQuery" method="post">
            <h2 class="form-signin-heading">Oturum Açın</h2>
            <div class="login-wrap">
                <div class="user-login-info">
                    <input type="text" class="form-control" placeholder="Kullanıcı adı" name="@Html.NameFor(m=>m.UserName)" autofocus>
                    <input type="password" class="form-control" placeholder="Parola" name="@Html.NameFor(m=>m.Password)">
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" name="@Html.NameFor(m=>m.RememberMe)"> Beni Hatırla                    
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Giriş</button>

            </div>

        </form>

    </div>



    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Areas/Admin/Content/js/jquery.js"></script>
    <script src="~/Areas/Admin/Content/bs3/js/bootstrap.min.js"></script>

</body>
</html>

